/*CSS DOCUMENT*/
 
body {
font-family: 'Didot', serif;
margin: 0;
} 

.logo {
max-width: 30em; 
margin: auto;
}

.menu a:hover {
color: #b57624;
}

.menu ul {
margin: 0em 1em 0em 5em;
}


.menu li{
font-family: 'Didot', sans-serif;
text-transform: uppercase;
display: inline;
    padding: 0em 1em 0em .5em;
}

.menu a{
position: relative;
text-decoration: none; 
color: #000;
}


ul{ 
list-style-type: none;
text-align: center;
margin: 0;
padding: 0;
}


.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}



/*--------------------Index Home Page --------------------*/ 
.menu {
color: #a33434;
text-align: center;
}


.header {
color: #a33434;
text-align: center;
}


.hours h3{
color: #a33434;
text-align: center;
}


.hours {   
padding: 3em 0em 1em 0em;
}

.smorgasbord h3 {
color: #a33434;
text-align: center;
}


li {
text-align: center;
}

.smorgasbord {
padding: 1em; 
}

/*-------------------- Menu Page --------------------*/ 

.food {
color: #000; 
padding-top: 3em;
align-content: center; 
text-align: center; 
}


.food li {
text-align: center;
align-content: center; 
}


.food h3 {
color: #a33434;
text-align: center;
font-size: 1.5em;
}


/*-------------------- Contact Page --------------------*/ 


.contactus h3 {
color: #a33434;
text-align: center; 
padding-top: 1em;
text-align: center; 
}

.contactus h4 {
color: #a33434;
padding: 0em 0em em 0em; 
text-align: center; 
}

.contactus {
color: #000;
text-align: center;
padding: 3em 0em 2em 0em; 
}


/*--------------------Location Page --------------------*/ 


.ouraddress{
color: #a33434;
text-align: center;
padding: 4em 1em 1em 1em;
}


.history{
padding: 3em 2em 1em 2em;
}


.history h3{
color: #a33434;
text-align: center;
}

.flag{
padding: .5em 0em 1em 0em;
}