/*CSS DOCUMENT*/
 
body {
font-family: 'Didot', serif;
margin: 0;
} 


.logo {
max-width: 20em; 
margin: auto;
}

.menu a:hover {
color: #b57624;
}

.menu ul {
margin: 0em 1em 2em 5em;
}


.menu li{
font-family: 'Didot', sans-serif;
text-transform: uppercase;
display: inline;
padding: 0em 1em 1em .5em;
}


.menu a{
position: relative;
text-decoration: none; 
color: #000;
}


ul{ 
list-style-type: none;
text-align: center;
margin: 0;
padding: 0;
}


.center {
display: block;
margin-left: auto;
margin-right: auto;
width: 100%;
}



/*--------------------Index Home Page --------------------*/ 
.menu {
color: #a33434;
text-align: center;
}


.header {
color: #a33434;
text-align: center;
}


.hours h3{
color: #a33434;
text-align: center;
font-size: 1.5em;
}


.hours {   
padding: 1em 0em 1em 0em;
}

.smorgasbord h3 {
font-size: 1.5em;
color: #a33434;
text-align: center;
}


li {
text-align: center;
}

.smorgasbord {
max-width: 40em;
margin: 2em auto 3em;
}

/*-------------------- Menu Page --------------------*/ 

.food {
color: #000; 
align-content: center; 
text-align: center; 
max-width: 40em;
margin: 2em auto 3em;
}


.food li {
text-align: center;
align-content: center; 
padding-bottom: 1em;
line-height: 1em;
}


.food h3 {
color: #a33434;
text-align: center;
font-size: 2em;
}


/*-------------------- Contact Page --------------------*/ 


.contactus h3 {
color: #a33434;
text-align: center; 
padding-top: 1em;
text-align: center; 
font-size: 1.6em;
}

.contactus h4 {
color: #a33434;
padding: 0em 0em 0em 0em; 
text-align: center; 

}

.contactus {
color: #000;
text-align: center;
padding: 0em 0em 2em 0em; 
max-width: 40em;
margin: 2em auto 3em;
}


/*--------------------Location Page --------------------*/ 


.ouraddress{
color: #a33434;
text-align: center;
padding: 1em 1em 0em 1em;
font-size: 1.2em; 
}


.map{
margin: 2em auto 3em;
max-width: 50em;
}

.history{
padding: 0em 2em 1em 2em;
margin: 2em auto 3em;
max-width: 40em;
}


.history h3{
font-size: 1.5em;
color: #a33434;
text-align: center;
}

